@keyframes zoomIn {
  0% {
    max-width:1vw;
    opacity: 0;
    padding: 0 0;  
     font-size: 0;
  }
  55%{
    padding: 1vh 1vh; 
    font-size: 2.5vh;
  }
  100% {
    max-width:  90vw;
    padding: 1vh 1vh; 
    opacity: 1;
    font-size: 2.5vh;
  }
}
@keyframes zoomOut {
  0% {
    font-size: 2.5vh;
    max-width:  90vw;
    padding: 1vh 1vh; 
    opacity: 1;
  }
  100% {
    font-size: .5vh;
    max-width:  15vw;
    padding: .5vh .5vh; 
    opacity: 1;
  }
}
@keyframes movePic {
  0% {
    top: 50vh;
    left: 50vw;
  }
  100% {
    top : var(--tx);
    left: 90vw;
  }
}

.polaroidInitial{
  font-size: 0;
  max-width:1vw;
  padding: 0 0;
  opacity: 0;
}
 
.polaroid{
  background-color: white; 
  transform: rotate(-2deg); 
}
li:nth-child(even) .polaroid{
  transform: rotate(2deg);
}

.polaroidCenter{
  list-style-type: none;
  position: absolute;
  top: 50vh;
  left: 50vw;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-family: 'Cedarville Cursive', sans-serif;
}

.polaroidCenter:hover{ 
  z-index:555555;
}

.animateIn{
  animation: zoomIn 2s forwards; 
}
.animateOut{  
  animation: zoomOut 1s forwards; 
}  
.animateRight{
  animation: movePic 1s forwards;
}

.animateRight:hover{ 
  z-index:555555;
}

.picImage{
  width:100%;
}


/* Basemap  buttons/slider  */

.basemap-buttons-container {
  position: absolute;
  left: 15px;
  top: 210px;
  z-Index: 31;
  display:inline;
}

.basemapbuttons {
  display:inline;
}

.basemapbuttons li {
  list-style: none;
  text-align: center;
  background-color: white;
  margin-right: 30px;
  line-height: 20px;
}

.basemapbuttons li a {
  padding: 5px 10px;
  text-decoration: none;
  color: black;
  display: block;
}

.basemapbuttons li a:hover {
  text-decoration: none;
  color: #000000;
  background-color: lightgray;
}


.basemapsSlideup, .basemapsSlidedown {
  max-height: 0;            
  overflow-y: hidden;
  -webkit-transition: max-height 0.8s ease-in-out;
  -moz-transition: max-height 0.8s ease-in-out;
  -o-transition: max-height 0.8s ease-in-out;
  transition: max-height 0.8s ease-in-out;
}
.basemapsSlidedown {            
  max-height: 500px ;                    
}  

.mapcontainer {
  position: absolute;
  left: 0;
  top: 90px;
  bottom: 0;
  width: 100%;
}

.header {
  position: relative;
  top: 0;
  background: #FFF;
  height: 90px;
  color: #002e5d;
  font-size: 28px;
  margin-left: 30px;
  margin-right: 30px;
}

.tour-start {
  font-weight: bold;
  color: red;
  font-family: 'Cedarville Cursive', sans-serif;
  cursor: pointer;
}

.tour-title *{
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block
}

.tour-caption {
  font-size: .80em;
  display:inline-block;
  font-family: 'Cedarville Cursive', sans-serif;
   font-weight: bold;
}

