@keyframes zoomIn {
  0% {
    max-width:1vw;
    opacity: 0;
    padding: 0 0;  
    font-size: .5vh; 
    line-height: .5vh;
  }
  100% {
    line-height: 3vh;
    font-size: 2.5vh;  
    max-width: 80vw;
    padding: 1vh 1vh; 
    opacity: 1;
  }
}


@keyframes zoomOut {
  0% {
    font-size: 2.5vh;
    line-height: 2.5vh;
    max-width: 80vw;
    padding: 1vh 1vh; 
    opacity: 1;
  }
  100% {
    font-size: .5vh;
    line-height: 1vh;
    max-width:  15vw;
    padding: .5vh .5vh; 
    opacity: 1;
  }
}
@keyframes movePic {
  0% {
    top: 50vh;
    left: 50vw;
  }
  100% {
    top : var(--tx);
    left: 90vw;
  }
}

.polaroidInitial{
  font-size: 0;
  max-width:1vw;
  padding: 0 0;
  opacity: 0;
}
 

.polaroid{
  background-color: white; 
  transform: rotate(-2deg); 
}

li:nth-child(even) .polaroid{
  transform: rotate(2deg);
}

.polaroidCenter{
  list-style-type: none;
  position: absolute;
  top: 50vh;
  left: 50vw;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-family: 'Cedarville Cursive', sans-serif;
}

.polaroidCenter:hover{ 
  z-index:555555;
}

.animateIn{
  animation: zoomIn 2s forwards; 
}
.animateOut{  
  animation: zoomOut 1s forwards; 
}  

.animateRight{
  animation: movePic 1s forwards;
}

.animateRight:hover{ 
  z-index:555555;
}

.picImage{
  width:100%;
  max-width: 90vw;
}

/* slider */

.slider {
  position: absolute;
  top: 300px;
  left: -21px;
  -webkit-appearance: none;
  width: 100px;
  height: 10px;
  background: white;
  outline: none;
 
  transition: opacity .2s;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  z-index: 200;
}

.slider:hover {

  background: #f0f0f0;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #4CAF50;
  cursor: pointer;
  z-index: 200;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #4CAF50;
  cursor: pointer;
  z-index: 200;
}


/* Basemap  buttons/slider  */

.basemap-button-container {
  position: absolute;
  left: 15px;
  top: 210px;
}

.basemapbuttons {
  display:inline;
}

.basemapbuttons li {
  list-style: none;
  text-align: center;
  background-color: white;
  margin-right: 30px;
  line-height: 20px;
}

.basemapbuttons li a {
  padding: 5px 10px;
  text-decoration: none;
  color: black;
  display: block;
}


.basemapbuttons li a:hover {
  text-decoration: none;
  color: #000000;
  background-color: #f5f5f5;
}


.basemapsSlideup, .basemapsSlidedown {
  position: absolute;
  top: -6px;
  left: 60px;
  max-height: 0;            
  overflow-y: hidden;
  -webkit-transition: max-height 0.5s ease-in-out;
  -moz-transition: max-height 0.5s ease-in-out;
  -o-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}
.basemapsSlidedown {            
  max-height: 500px ;                    
}  

/* Map */


.mapcontainer {
  position: absolute;
  left: 0;
  top: 90px;
  bottom: 0;
  width: 100%;
}

.header {
  position: relative;
  top: 0;
  background: #f5f5f5;
  height: 90px;
  color: #002e5d;
  font-size: 28px;
  padding-left: 30px;
  padding-right: 30px;
}

.tour-start {
  font-weight: bold;
  color: red;
  font-family: 'Cedarville Cursive', sans-serif;
  cursor: pointer;
}

.tour-title *{
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block
}

.tour-caption {
  font-size: .80em;
  display:inline-block;
  font-family: 'Cedarville Cursive', sans-serif;
   font-weight: bold;
}

